# ==============================================================================
# CONFIGURACIÓN GENERAL DEL ECOSISTEMA DOCKER
# ==============================================================================
COMPOSE_PROJECT_NAME=ecosys

# ==============================================================================
# CONFIGURACIÓN DE LA BASE DE DATOS CENTRALIZADA (POSTGRESQL)
# ==============================================================================
POSTGRES_DB=postgres
POSTGRES_USER=admin_global
POSTGRES_PASSWORD=tu_password_seguro_global
DB_HOST=db_central
DB_PORT=5432

# Configuración automatizada de múltiples bases de datos (usada por el script de inicialización)
# Formato de variables para los microservicios:
AUTH_DB_NAME=auth_db_service
AUTH_DB_USER=auth_service_user
AUTH_DB_PASSWORD=auth_password_secure_para_desarrollo

API_INVTZN_DB_NAME=api_invtzn_db
API_INVTZN_DB_USER=api_invtzn_user
API_INVTZN_DB_PASSWORD=invtzn_password_secure_para_desarrollo

# ==============================================================================
# MICROSERVICIO 1: AUTH SERVICE (DJANGO)
# ==============================================================================
# Entorno y Depuración (True en desarrollo, False en producción)
AUTH_DJANGO_DEBUG=True
AUTH_DJANGO_SECRET_KEY=django-insecure-8n9vs72itf!k%^-mzv!iuqv@!bl-^52^8!nc+@o4*wufpkqvhe

# Hosts y CORS (Separados por coma en producción)
AUTH_DJANGO_ALLOWED_HOSTS=api.auth.local,localhost,127.0.0.1
AUTH_CORS_ALLOWED_ORIGINS=http://front.auth.local,http://localhost:5173

# Envío de Correos (Consola en desarrollo, SMTP en producción)
AUTH_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
AUTH_EMAIL_HOST=smtp.mailgun.org
AUTH_EMAIL_PORT=587
AUTH_EMAIL_HOST_USER=postmaster@yourdomain.com
AUTH_EMAIL_HOST_PASSWORD=tu_smtp_password
AUTH_EMAIL_USE_TLS=True

# ==============================================================================
# MICROSERVICIO 2: API INVITACIONES (DJANGO)
# ==============================================================================
# Entorno y Depuración
INVTZN_DJANGO_DEBUG=True
INVTZN_DJANGO_SECRET_KEY=django-insecure-api-invtzn-8n9vs72itf!k%^-mzv!iuqv@!bl-^52^8

# Hosts y CORS
INVTZN_DJANGO_ALLOWED_HOSTS=api.invtzn.local,localhost,127.0.0.1
INVTZN_CORS_ALLOWED_ORIGINS=http://front.auth.local,http://localhost:5173

# ==============================================================================
# INTEGRACIÓN CON LA PASARELA DE PAGOS (STRIPE)
# ==============================================================================
STRIPE_PUBLIC_KEY=pk_test_tu_stripe_public_key_aqui
STRIPE_API_KEY=sk_test_tu_stripe_secret_key_aqui
STRIPE_WEBHOOK_SECRET=whsec_tu_stripe_webhook_secret_aqui
STRIPE_CONNECT_CLIENT_ID=ca_tu_stripe_connect_client_id_aqui
