.env
# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Entornos Virtuales ---
.venv/
venv/
ENV/
env.bak/
venv.bak/

# --- Django ---
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/
staticfiles/

# --- Secretos y Variables de Entorno ---
.env
.venv
.secrets

# --- IDEs y Editores ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# --- Pruebas y Cobertura ---
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/